<form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm.value)">
  <div class="form-group">
    <label for="courseName">Course name</label>
    <input
      ngModel
      name="courseName"
      id="courseName"
      #courseName="ngModel"
      type="text"
      class="form-control"
      required
      minlength="3"
      maxlength="15"
    />
    <div
      class="alert alert-danger"
      *ngIf="courseName.touched && !courseName.valid"
    >
      <div *ngIf="courseName.errors.required">First name is required</div>
      <div *ngIf="courseName.errors.minlength">Min length is 3</div>
      <div *ngIf="courseName.errors.maxlength">Max length is 15</div>
    </div>
  </div>
  <div class="form-group">
    <label for="courseCategory">Category</label>
    <select
      name="courseCategory"
      id="courseCategory"
      ngModel
      #courseCategory="ngModel"
      required
      class="form-control"
    >
      <option></option>
      <option *ngFor="let category of categories" [value]="category.id">{{
        category.title
      }}</option>
    </select>
    <div
      class="alert alert-danger"
      *ngIf="courseCategory.touched && !courseCategory.valid"
    >
      <div *ngIf="courseCategory.errors.required">Category is required</div>
    </div>
  </div>
  <div class="form-group form-check">
    <input
      ngModel
      type="checkbox"
      class="form-check-input"
      id="isMoneyBack"
      name="isMoneyBack"
    />
    <label class="form-check-label" for="isMoneyBack"
      >30 days money back garantee</label
    >
  </div>
  <p>
    {{ courseForm.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="courseForm.invalid">
    Submit
  </button>
</form>
