<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" title="Angular Demo"
    ><fa name="bank"></fa> Angular Demo</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a
        class="nav-item nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/followers"
        routerLinkActive="active"
        >Followers</a
      >
      <a class="nav-item nav-link" routerLink="/posts" routerLinkActive="active"
        >Posts</a
      >
      <a class="nav-item nav-link" routerLink="/forms" routerLinkActive="active"
        >Forms</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/zipper-like"
        routerLinkActive="active"
        >Zipper and like</a
      >
      <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active"
        >Blog</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/broken-link"
        routerLinkActive="active"
        >Broken link</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/redux-test"
        routerLinkActive="active"
        >Redux Test</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/signalr-test"
        routerLinkActive="active"
        >SignalR Test</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/weather"
        routerLinkActive="active"
        >Weather</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/dynamic-form"
        routerLinkActive="active"
        >Dynamic forms</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/material-test"
        routerLinkActive="active"
        >Material Test</a
      >
      <a
        *ngIf="authService.isLoggedIn()"
        class="nav-item nav-link"
        routerLink="/ideas"
        routerLinkActive="active"
        >Ideas</a
      >
      <a
        *ngIf="authService.isLoggedIn() && authService.isAdmin"
        class="nav-item nav-link"
        routerLink="/users"
        routerLinkActive="active"
        >Users</a
      >
      <div class="nav-item nav-link">
        <div class="badge badge-info">{{ count | async }}</div>
      </div>
      <div class="nav-item nav-link" *ngIf="weather">
        <img
          style="width: 25px; background-color: white;"
          [src]="weather.iconUrl"
          [title]="weather.title"
        />
      </div>
    </div>
    <div class="navbar-nav">
      <a
        *ngIf="!authService.isLoggedIn()"
        class="nav-item nav-link"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
      <div class="nav-item nav-link" *ngIf="authService.isLoggedIn()">
        Hello, {{ userName() }} |
      </div>
      <a
        *ngIf="authService.isLoggedIn()"
        class="nav-item nav-link"
        (click)="logout()"
        href="#"
        >Logout</a
      >
    </div>
  </div>
</nav>
