input.ng-invalid.ng-touched {
  border: solid 2px red;
}
select.ng-invalid.ng-touched {
  border: solid 2px red;
}
form {
  margin: 5pt;
  padding-bottom: 5px;
  background-color: #fafafa;
  border: solid 1px #eee;
  border-radius: 0.25rem;
}
form > div,
p,
button {
  margin-left: 5px;
  margin-right: 5px;
}
.asterix {
  font-weight: bold;
}
