<div class="container">
  <div class="card m-2">
    <div class="card-header">
      <h5>Demo angular application</h5>
    </div>
    <div class="card-body bg-info text-white" @slideRight>
      <div class="container">
        This application provides demo of basic<br />Angular<br />features.
      </div>
    </div>
    <div class="card-body bg-info text-white" @slideRight>
      <div class="container">
        This application provides demo of basic<br />Angular<br />features.
      </div>
    </div>
  </div>
</div>
