<div *ngIf="!loaded">
  <h5><fa name="cog" animation="spin"></fa> Loading data...</h5>
</div>
<div *ngIf="loaded">
  <button (click)="newIdea()" class="btn btn-primary mb-1 mr-2">
    <fa name="lightbulb-o"></fa> New idea
  </button>
  <button kendoButton (click)="newIdea()" [primary]="true">
    <fa name="lightbulb-o" class="mr-1"></fa> Kendo new idea
  </button>
  <table
    id="ideasTable"
    class="table table-striped table-hover w-100"
    cellspacing="0"
  >
    <thead>
      <tr>
        <th>Title</th>
        <th>Module</th>
        <th>Total Votes</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let idea of ideas">
        <td>
          <a [routerLink]="['/idea', idea.id]">{{
            idea.title | shortstring: 40
          }}</a>
        </td>
        <td>{{ idea.module }}</td>
        <td>{{ idea.totalVotes }}</td>
        <td>{{ idea.description }}</td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm" (click)="deleteIdea(idea)">
            <fa name="trash"></fa>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total:</th>
        <th></th>
        <th></th>
        <th class="text-right">{{ ideas.length }}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
