<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <span class="text-danger mr-1 asterix">*</span>
    <label for="oldPassword">Old Password</label>
    <input
      id="oldPassword"
      formControlName="oldPassword"
      type="password"
      class="form-control"
      autocomplete="old-password"
    />
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && oldPassword.invalid"
    >
      <div *ngIf="oldPassword.errors.required">Old password is required.</div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">
        Old password is invalid.
      </div>
    </div>
  </div>
  <div class="form-group">
    <span class="text-danger mr-1 asterix">*</span>
    <label for="newPassword">New Password</label>
    <input
      id="newPassword"
      formControlName="newPassword"
      type="password"
      class="form-control"
      autocomplete="new-password"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPassword.touched && newPassword.invalid"
    >
      <div *ngIf="newPassword.errors.required">New password is required.</div>
    </div>
  </div>
  <div class="form-group">
    <span class="text-danger mr-1 asterix">*</span>
    <label for="">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      class="form-control"
      autocomplete="false"
    />
    <div
      *ngIf="
        confirmPassword.touched &&
        confirmPassword.invalid &&
        confirmPassword.errors.required
      "
      class="alert alert-danger"
    >
      Confirm password is required.
    </div>
    <div
      *ngIf="
        confirmPassword.valid &&
        form.invalid &&
        form.errors?.invalidPasswordConfirmation
      "
      class="alert alert-danger"
    >
      Confirmation does not match.
    </div>
  </div>
  <button class="btn btn-primary">Change Password</button>
  <p>
    {{ form.value | json }}
  </p>
</form>
