<ng-container *ngIf="this.config.type === 'input'">
  <form-input [config]="config" [group]="group"></form-input>
</ng-container>
<ng-container *ngIf="this.config.type === 'select'">
  <form-select [config]="config" [group]="group"></form-select>
</ng-container>
<ng-container *ngIf="this.config.type === 'checkbox'">
  <form-checkbox [config]="config" [group]="group"></form-checkbox>
</ng-container>
<ng-container *ngIf="this.config.type === 'checkboxGroup'">
  <form-checkbox-group [config]="config" [group]="group"></form-checkbox-group>
</ng-container>
<ng-container *ngIf="this.config.type === 'textarea'">
  <form-textarea [config]="config" [group]="group"></form-textarea>
</ng-container>
<ng-container *ngIf="this.config.type === 'radio'">
  <form-radio [config]="config" [group]="group"></form-radio>
</ng-container>
<ng-container *ngIf="!this.isTypeValid()">
  <div class="text-danger">Invalid type used</div>
</ng-container>
