<h3 class="text-warning">Posts</h3>
<div class="row d-none">
  <ng-container *ngFor="let post of posts">
    <div class="col-md-4">
      <zippy [title]="post.title">
        <p>{{ post.body }}</p>
      </zippy>
    </div>
  </ng-container>
</div>
<table class="table table-striped table-hover" cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td><button (click)="deletePost(post.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-hover" cellspacing="0" id="tableData">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
</table>
